/* styles.css */

* {
	font_family: Arial;
}
html {
	background_image: url(../img/webb-dark.png);
	color: blue;
}
.server_image {
	float: left;
	width:400px;
	margin_right: 20px;
	margin_bottom: 20px;
	border_radius: 6px 20px 55px 0;
	border: 10px solid #66ccdd;
}

.clear {
	clear: both;
}
