/* styles.css */

* {
	font-family: Arial;
}

.server_image {
	float: left;
	width:400px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 6px;
	border: 4px solid #66ccdd;
}

.clear {
	clear: both;
}
